<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

    <title>@ViewData["Title"] - Financial Dashboard</title>

    <link href="https://kendo.cdn.telerik.com/themes/10.2.0/material/material-main-dark.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/@@progress/kendo-font-icons/dist/index.css" />
    <script>
        localStorage.removeItem("selectedCurrency");
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2025.1.227/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2025.1.227/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/js/site.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/10.2.0/utils/all.css" />
</head>
<body class="k-content">
    
    @RenderBody()

    <div class="k-py-6.5 k-px-15 k-bg-surface-alt">
        <a class="k-link k-avatar k-primary" href="https://github.com/telerik/financial-app-core" style="display: inline-flex; align-items: center; gap: 0.5rem; color: white;">
            <img src="@Url.Content("~/images/GitHub-logo.svg")" alt="UNI" style="width: 25px; height: 25px;" />
            <span class="footerText">Get the Source Code</span>
        </a>

        <p class="!k-my-0 footerText">Copyright © 2025 Progress Software. All rights reserved.</p>
    </div>
     
</body>
</html>